<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Builder</title>
    <meta content="Best Free Open Source Responsive Websites Builder" name="description">
    
    
    

	<!-- Font Awesome -->
	<!--link rel="stylesheet" href="{{ asset('bundles/dattaAble/assets/fonts/fontawesome/css/fontawesome-all.min.css') }}"-->

	<!-- Animate -->
	<link rel="stylesheet" href="{{ asset('bundles/dattaAble/assets/plugins/animation/css/animate.min.css') }}">

	<!-- PNotify -->
	<link rel="stylesheet" href="{{ asset('bundles/dattaAble/assets/plugins/pnotify/css/pnotify.custom.min.css') }}">

	<link rel="stylesheet" href="{{ asset('bundles/dattaAble/assets/css/pages/pnotify.css') }}">

	<!-- DattaAble -->
	<link rel="stylesheet" href="{{ asset('bundles/dattaAble/assets/css/style.css') }}">

    
    
    
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/toastr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/grapes.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/grapesjs-preset-webpage.min.css') }}">    
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/tooltip.css') }}">    
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/grapesjs-plugin-filestack.css') }}">    
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/demos.css') }}">  
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/custom.css') }}">        


		<!-- DattaAble -->
		<script src="{{ asset('bundles/dattaAble/assets/js/vendor-all.min.js') }}"></script>
    <!-- <script src="//static.filestackapi.com/v3/filestack.js"></script> -->
    <!-- <script src="js/aviary.js"></script> old //feather.aviary.com/imaging/v3/editor.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="{{ asset('bundles/builder/js/toastr.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapes.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-preset-webpage.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-lory-slider.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-tabs.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-custom-code.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-touch.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-parser-postcss.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-tooltip.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-tui-image-editor.min.js') }}"></script>
    <script src="{{ asset('bundles/builder/js/grapesjs-typed.min.js') }}"></script>


  </head>
  <body>
    
    
	    <div style="display: none">
	      <div class="gjs-logo-cont">
	        <a href="#"><img class="gjs-logo" src="#"></a>
	        <div class="gjs-logo-version"></div>
	      </div>
	    </div>
	    
    
    	<!-- Left side column. contains the logo and sidebar -->
        {# render(controller("AppBundle:Backend/Main:mainMenu")) #}	
		{#<div class="pcoded-main-container">
			<div class="pcoded-wrapper">#}
				{% block body %}
				{% endblock %}
			{#</div>				
		</div>#}			
							

		<script>
			var global_upload_path  = "{{path('fileuploadhandler',{type:'asset'})}}";		
			var global_asset_get    = "{{path('utils_get_asset')}}";					
			var global_asset_add    = "{{path('utils_add_asset')}}";	
			var global_asset_remove = "{{path('utils_remove_asset')}}";											
			var global_storage_load = "{{path('utils_storage_load')}}";														
			var global_storage_save = "{{path('utils_storage_save')}}";																	
		</script>

		<script src="{{ asset('bundles/builder/js/loader.js') }}"></script>
		{% block extra_scripts %}
		{% endblock %}
  </body>
</html>
