<div class="card-header">
    <h5>Listado</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover dataTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                {% for userRole in list %}
                    <tr>
                        <td>{{ userRole.id }}</td>
                        <td>{{ userRole.name }}</td>
                        <td>{{ userRole.description }}</td>
                        <td>
                            {% if userRole.active %}
                                <span class="label bg-c-green f-12 text-white" href="#!">SI</span>
                            {% else %}
                                <span class="label bg-c-red f-12 text-white" href="#!">No</span>
                            {% endif %}
                        </td>
                        <td>					
                            <a class="btn btn-icon btn-rounded btn-info text-white" href="{{ path('backend_user_role_permission', {'roleId': userRole.id|md5}) }}" title="Permisos" data-toggle="tooltip">
                                <i class="feather icon-list"></i>
                            </a>

                            <a class="btn btn-icon btn-rounded theme-bg2 text-white" href="{{ path('backend_user_roles_edit', {'roleId': userRole.id|md5}) }}" title="Editar" data-toggle="tooltip">
                                <i class="feather icon-edit-1"></i>
                            </a>

                            <span  title="Eliminar" data-toggle="tooltip">
                                <a id="btn-delete" class="btn btn-icon btn-rounded btn-danger text-white sweet-multiple" data-href="{{ path('backend_user_roles_delete', {'roleId': userRole.id|md5} )}}" data-name="{{ userRole.name }}" href="javascript:;">
                                    <i class="feather icon-trash-2"></i>
                                </a>
                            </span>				
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


