{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<form method="post" action="" id="sForm" class="validateForm" autocomplete="false" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.name, "Nombre") }}
                {{form_widget(form.name, {'attr': {'class': 'required form-control' }}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.nameEng, "Nombre en ingles") }}
                {{form_widget(form.nameEng, {'attr': {'class': 'required form-control' }}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.color, "Color") }}
                {{form_widget(form.color, {'attr': {'class': 'required form-control' }}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-6">
            <button type="reset" data-dismiss="modal" class="btn btn-rounded btn-danger">Cancelar</button>

        </div>
        <div class="col-md-6 col-6">
            <button id="button-save" type="submit" class="btn btn-rounded btn-success float-right">Guardar</button>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    {{ form_widget(form._token) }}
</form>