<div class="card-header">
    <h5>Listado</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover dataTable">
            <thead>
                <tr>
                    <th>Nombre / Name</th>
                    <th>Color</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.name }} / {{ item.nameEng }}</td>
                        <td><span class="btn rounded" style="background: {{item.color}}"></span></td>
                        <td>
                            {% if permits["ep"] %}
                                <a class="btn btn-icon btn-rounded theme-bg2 text-white" href="{{ path('backend_requirement_group_edit', {'id': item.requirementGroupId|md5}) }}" title="Editar" data-toggle="tooltip">
                                    <i class="feather icon-edit-1"></i>
                                </a>
                            {% endif %}
                            {% if permits["dp"] %}
                                <span  title="Eliminar" data-toggle="tooltip">
                                    <a id="btn-delete" class="btn btn-icon btn-rounded btn-danger text-white sweet-multiple"
                                       data-id="{{ item.requirementGroupId }}" data-name="{{ item.name }}" 
                                       data-href="{{ path('backend_requirement_group_delete',{'id': item.requirementGroupId|md5}) }}">
                                        <i class="feather icon-trash-2"></i>
                                    </a>
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



