<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{path('reservation')}}" class="f-22">Servicios</a></li>
                        <li class="breadcrumb-item active f-22" aria-current="page">Reservación</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        {% set totalPrice = 0 %}
                        {% set totalTime = 0 %}
                        {% for item in service %}
                        {% set totalPrice = totalPrice + item.price %}
                        {% set totalTime = totalTime + item.duration %}
                            <div class="col-lg-3">
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-auto">
                                        <img class="img-fluid img-sty2" src="{{ asset('uploads/' ~ item.picturePath) }}" alt="dashboard-user">
                                    </div>
                                    <div class="col">
                                        <h6 class="mb-2">{{ item.description }}</h6>
                                        <h6 class="m-b-0">Bs. {{ item.price |number_format(2, ',', '.') }}</h6>
                                        <p>{{ item.duration }} minutos</p>
                                        <div style="display: none;" class="service-ids" data-sid="{{item.menuId}}"></div>
                                    </div>
                                </div>
                                <hr class="divisor-vert-xs" >
                            </div>
                        {% endfor %}
                            <div class="col-lg-3 text-center p-15 total-label">
                                <h6 class="m-0 p-0">TOTAL</h6>
                                <h4 class="m-0 p-0">$ {{ totalPrice |number_format(2, ',', '.')}}</h4>
                                <span class="f-w-300 f-18">{{ totalTime }}&nbsp;minutos</span>
                            </div>
                    </div>
                </div>
            </div>
        </div>

</div>

<div class="row">
    <div class="col-lg-4 col-md-12 col-xs-12">
        <h5 class="text-center">Profesional</h5>
        <div class="card" style="max-height:500px; overflow-y:scroll;">
            <div class="card-body">
                <!--h5 class="card-title d-flex justify-content-center">Profesional</h5-->
                <hr>
                <div class=""></div>
                {% for key,item in prof %}

                    {%if key == 0 %}
                        <input type="text" id="firstProf" style="display: none;" value="{{item.id}}">
                        <input type="text" id="firstName" style="display: none;" value="{{item.firstName}}&nbsp;{{item.lastName}}">
                        <input type="text" id="profAddress" style="display: none;" value="{{item.organization.address}}">
                        <input type="text" id="profOrgId" style="display: none;" value="{{item.organization.organizationId}}">
                    {% endif %}
                    <a  href="javascript:;"
                        data-orgid="{{ item.organization.organizationId }}" 
                        data-address="{{item.organization.address}}" 
                        data-id="{{item.id}}" 
                        data-name="{{ item.firstName }} {{ item.lastName }}" 
                        data-order="{{key}}"
                        class="prof-list">
                        {%if key == 0 %}
                            <div class="row align-items-center justify-content-center prof-item" style="border-radius:8px; background-color: #04a9f5; color:#fff">
                        {% else %}
                            <div class="row align-items-center justify-content-center prof-item">
                        {% endif %}
                            <div class="col-auto">
                                <img class="img-fluid rounded-circle" style="width:80px;"
                                src="{{ asset('uploads/' ~ item.avatarPath) }}" alt="dashboard-user">
                            </div>
                            <div class="col">
                                {% if key == 0 %}
                                    <h5 class="prof-title" style="color:#fff">{{ item.firstName }}&nbsp;{{ item.lastName }}</h5>
                                {% else %}
                                    <h5 class="prof-title">{{ item.firstName }}&nbsp;{{ item.lastName }}</h5>
                                {% endif %}

                                <span><i class="fas fa-map-marker-alt f-18 m-r-5"></i> Berlin, Germany</span>
                            </div>
                        </div>
                        <hr>
                    </a>
                {% endfor%}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <h5 class="text-center">Día de Reserva</h5>
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <h5 class="text-center">Hora de Reserva</h5>
        <div class="card" style="max-height:500px; overflow-y:scroll;">
            <div class="card-body text-center">
                <div id="hour-reserve">
                    <div id="morning-title"></div>
                    <div id="morning-hour"></div>
                    <br>
                    <div id="afternoon-title"></div>
                    <div id="afternoon-hour"></div>
                    <br>
                    <div id="evening-title"></div>
                    <div id="evening-hour"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <button type="button" class="btn btn-primary" id="btn-next" title="" data-toggle="modal" data-target="#exampleModalLive"
                    data-original-title="btn btn-primary" disabled>Siguiente</button>
    </div>
</div>