
<form method="post" action="{{path('reservation_create')}}" id="sForm" class="" autocomplete="false" novalidate>

    <div class="row">
        <div class="col-md-6 p-t-15">
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.services, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.professional, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.scheduledTo, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.organization, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="row">
                        <div class="card" style="background-color:#e0ffff; border-radius: 6px; width: 100%;">
                            <div class="card-header">
                                <h5>Resumen</h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-8">
                                    {% for item in service %}
                                        <span class="d-block text-muted">{{item.menuName}}</span>
                                    {% endfor %}
                                    </div>
                                    <div class="col-4 text-right">
                                     {% for item in service %}
                                        <span class="d-block">{{ item.price }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <p class="d-block text-muted"> <b>Total</b> </p>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h3 class="f-w-300">${{ totales.totalPrice }}</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">
                                        <h6 class=" text-muted f-w-300 m-b-0">Profesional</h6>
                                    </div>
                                    <div class="col-7 text-right">
                                        <h6 class="text-muted" id="profName"></h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0">Cuando</h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted" id="when_datetime">30 de mayo, 16:45 PM</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class=" text-muted f-w-300 m-b-0">Duración (minutos)</h6>
                                    </div>
                                    <div class="col-6 text-right">
                                        <h6 class="text-muted">{{ totales.totalDuration }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0"></h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted" id="hour_too"></h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0">Donde</h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted" id="serv-address"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-t-30">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.firstName, "Nombre y Apellido") }}
                            {{form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.email, "Email") }}
                            {{form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.phone, "Teléfono") }}
                            {{form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.message, "Comentario") }}
                            {{form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                     <div class="col-md-12">
                        <div class="form-group" style="text-align: center;">
                         <blink> <h3> <font color="red"> ¡IMPORTANTE!</font></h3></blink>
                          <p> Puede llegar 10 minutos antes o despues de la hora indicada y debe anunciarse en la caja 
                          para que se sitúe de primero en la lista de espera y así su barbero 
                          lo pueda atender después del servicio que este realizando.
                          </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-6">
            <button type="reset" data-dismiss="modal" class="btn btn-rounded btn-danger">Cancelar</button>
        </div>
        <div class="col-md-6 col-6">
            <button id="button-save" type="submit" class="btn btn-rounded btn-success float-right">Reservar</button>
        </div>
    </div>
    {{ form_widget(form._token) }}
</form>