{% extends '@App/Website/base_public.html.twig' %}

{% block body %}

<div class="row back-barber">
    <div class="container">
    
        <div class="row container-prop m-b-30 m-l-0 m-r-0 p-b-30 m-t-30 back-header">
            <div class="col-lg-4 m-t-15">
                <img class="img-hern" src="{{ asset('uploads/hernandez_big.png') }}" alt="dashboard-user">
            </div>
            <div class="col-lg-8  m-t-15">
                <div class="text-order-horiz">
                    <h2 class="color-title-hern">Hernandez</h2>
                </div>
                <div class="text-order-horiz">
                    <h2 class="color-title-hern">Barberia Exclusiva</h2>
                </div>
            </div>
        </div>

        <div class="card back-card">
            <div class="card-body">
                {{ include('@App/Website/flash_message.html.twig') }}
                {% if view == 'prof_hours' %}
                {{
                include(
                '@App/Website/create_modal_reservation.html.twig',
                {
                'title': 'Reservación',
                'form': form,
                'service': service,
                'totales': totales,
                'formPath': '@App/Website/Reservation/form.html.twig'
                }
                )
                }}
                {% endif %}
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="row show-complete">
                            {{ include('@App/Website/flash_message.html.twig') }}
                            <div class="col-xs-12">
                                {% if view == 'services' %}
                                <div>
                                    {{ include('@App/Website/Reservation/servicesView.html.twig', { 'list': list }) }}
                                    {% endif %}
                                </div>
                                {% if view == 'prof_hours' %}
                                    <div class="d-flex loader-barber">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="invisible show-calendary">
                                        {{ include('@App/Website/Reservation/calendaryView.html.twig', { 'service': service,
                                        'prof':prof,'day': day }) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


{% endblock %}
{% block extra_scripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="{{ asset('bundles/dattaAble/assets/plugins/sweetalert/js/sweetalert.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        var listServices = '';
        var pathHours = '';
        var sidStr = '';
        var data = {};
        $(".service-ids").each(function (index, item) {
            if (sidStr.length == 0) {
                sidStr = $(item).data('sid');
            } else {
                sidStr = sidStr + ',' + $(item).data('sid');
            }
        });
        $("#form_services").val(sidStr);

         function addDaysToDate(date, days){
            var res = new Date(date);
            res.setDate(res.getDate() + days);
            return res;
         }

        $("#calendar").datepicker({
            minDate: new Date(addDaysToDate(new Date(), 1)),
            firstDay: 1,
            dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
            dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sá"],
            monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
        });

       

        $("#calendar").on('change', function () {
            //var dateSelected = $(this).val();
            var myDate = $("#calendar").datepicker("getDate");
            var monthW2d = (myDate.getMonth() + 1) > 9 ? (myDate.getMonth() + 1) : "0" + (myDate.getMonth() + 1);
            var dayW2d = myDate.getDate() > 9 ? myDate.getDate() : "0" + myDate.getDate();
            var profId = $("#firstProf").val();
            data = {
                p_id: profId,
                s_id: sidStr,
                date: myDate.getFullYear() + '-' + monthW2d + '-' + dayW2d,
            };
            //console.log("PROF: ", data);
            getListHours(data);
            $("#form_scheduledTo").val('');
            $("#when_datetime").html('');
            $("#hour_to").html('');
            $("#btn-next").prop("disabled", true);
        });

        $(".prof-list").on('click', function () {
            var myDate = $("#calendar").datepicker("getDate");
            var monthW2d = (myDate.getMonth() + 1) > 9 ? (myDate.getMonth() + 1) : "0" + (myDate.getMonth() + 1);
            var dayW2d = myDate.getDate() > 9 ? myDate.getDate() : "0" + myDate.getDate();
            var profId = $(this).data('id');
            var profName = $(this).data('name');
            var profAddress = $(this).data('address');
            var profOrgId = $(this).data('orgid');
            $("#firstProf").val(profId);
            $("#profName").html(profName);
            $("#serv-address").html(profAddress);
            data = {
                p_id: profId,
                s_id: sidStr,
                date: myDate.getFullYear() + '-' + monthW2d + '-' + dayW2d,
            };
            getListHours(data);
            $(".prof-item").css({ "border-radius": "unset", "background-color": "unset", "color": "unset" });
            $(".prof-title").css({ "color": "#888" });
            $(".no-color-line").css({ "background-color": "unset" });
            $(this).children().css({ "border-radius": "8px", "background-color": "#f08080", "color": "#fff" });
            $(this).find("p.prof-title").css({ "color": "#fff" });
            $("#form_scheduledTo").val('');
            $("#when_datetime").html('');
            $("#form_professional").val(profId);
            $("#form_organization").val(profOrgId);
            $("#btn-next").prop("disabled", true);

        });


        

        async function getListHours(data) {
            const result = await $.ajax({
                data: data,
                url: "{{path('get_list_hours_available')}}",
                type: 'POST',
            })
            if (result) {
                var clearAfternoon = true;
                var clearEvening = true;
                $("#morning-title").html("");
                $("#afternoon-title").html("");
                $("#evening-title").html("");
                $("#morning-hour").html("");
                $("#afternoon-hour").html("");
                $("#evening-hour").html("");
                /*console.log("result.data.length: ", result.data);*/
                if (result.data.length !== 0) {
                    $("#hour-empty").html("");
                    $.each(result.data, function (index, value) {
                        //console.log("value: ", value);
                        if (value.momment == "morning") {
                            $("#morning-title").html("<p>Mañana</p>");
                        } else if (value.momment == "afternoon") {
                            $("#afternoon-title").html("<p>Tarde</p>");
                        } else if (value.momment == "evening") {
                            $("#evening-title").html("<p>Noche</p>");
                        }

                        if (value.momment == "morning") {
                            var prevHtml = "";
                            if (index == 0) {
                                $("#morning-hour").html("");
                            } else {
                                prevHtml = $("#morning-hour").html();
                            }
                            $("#morning-hour").html(prevHtml + "<button type='button' class='btn btn-outline-primary btn-sm hours-btn' id=" + value.uid + " start=" + value.start + " end=" + value.end + ">" + value.start + " - " + value.end + "</button>");
                        } else if (value.momment == "afternoon") {
                            var prevHtml = "";
                            if (clearAfternoon) {
                                clearAfternoon = false;
                                $("#afternoon-hour").html("");
                            } else {
                                prevHtml = $("#afternoon-hour").html();
                            }
                            $("#afternoon-hour").html(prevHtml + "<button type='button' class='btn btn-outline-primary btn-sm hours-btn' id=" + value.uid + " start=" + value.start + " end=" + value.end + ">" + value.start + " - " + value.end + "</button>");
                        } else if (value.momment == "evening") {
                            var prevHtml = "";
                            if (clearEvening) {
                                clearEvening = false;
                                $("#evening-hour").html("");
                            } else {
                                prevHtml = $("#evening-hour").html();
                            }
                            $("#evening-hour").html(prevHtml + "<button type='button' class='btn btn-outline-primary btn-sm hours-btn' id=" + value.uid + " start=" + value.start + " end=" + value.end + ">" + value.start + " - " + value.end + "</button>");
                        }
                    });     
                } else {
                    $("#hour-empty").html("<br><h4>No hay horas disponibles</h4><br><p>Es posible que el profesional tenga todas sus horas ya reservadas o que ya son mas de las 10:00 de la noche.<br> Por favor busca el siguiente día en el calendario para hacer una nueva reservación.</p>");
                }
                $("#btn-next").prop("disabled", true);
                $(".show-calendary").removeClass("invisible");
                $(".loader-barber").addClass("invisible");
                $(".loader-barber").removeClass("loader-barber");
            }else {
                $("#hour-empty").html("<br><h4>No hay horas disponibles</h4><br><p>Es posible que el profesional tenga todas sus horas ya reservadas o que ya son mas de las 10:00 de la noche.<br> Por favor busca el siguiente día en el calendario para hacer una nueva reservación.</p>");
            }
            return result.data;
        }

        $('.ancServ').on('click', function () {
            const menuId = $(this).attr('data-id');
            const dataHref = $(this).attr('data-href');
            if (listServices.length == 0) {
                listServices = menuId;
                $(this).children().css("background-color", "#f08080");//#f08080
            } else {
                if (listServices.indexOf(menuId) === -1) {
                    listServices = listServices + ',' + menuId;
                    $(this).children().css("background-color", "#f08080");
                } else {
                    listServices = listServices.replace(menuId, '');
                    $(this).children().removeAttr('style');
                }
            }
            if (listServices.indexOf(',,') !== -1) {
                listServices = listServices.replace(',,', ',');
            }
            if (listServices.substring(listServices.length - 1) == ',') {
                listServices = listServices.slice(0, -1);
            }
            if (listServices[0] == ',') {
                listServices = listServices.substr(1, listServices.length - 1);
            }
            $("#listServices").val(listServices);
            pathHour = $(this).attr('data-href') + "?id=" + listServices;
            //console.log(pathHour);
            if (listServices.length > 0) {
                $("#button-next").removeAttr('disabled');
            } else {
                $("#button-next").prop("disabled", true);
            }
        });
        $("#button-clear").on('click', function (e) {
            e.preventDefault();
            $(".card-service").removeAttr('style');
            listServices = '';
            $("#button-next").prop("disabled", true);
        });
        $("#button-next").on('click', function () {
            window.location = pathHour;
        });

        $(document).on("click", ".hours-btn", function () {
            const idBtn = $(this).attr('id');
            const hStart = $(this).attr('start');
            const hEnd = $(this).attr('end');
            //console.log("ID: ", idBtn);
            //console.log("Start: ", hStart);
            //console.log("End: ", hEnd);
            $(".hours-btn").css("color", "#666");
            $(".hours-btn").css("background-color", "#fff");
            $('#' + idBtn).css("color", "#fff");
            $('#' + idBtn).css("background-color", "#f08080");

            let myDate = $("#calendar").datepicker("getDate");
            let monthW2d = (myDate.getMonth() + 1) > 9 ? (myDate.getMonth() + 1) : "0" + (myDate.getMonth() + 1);
            let dayW2d = myDate.getDate() > 9 ? myDate.getDate() : "0" + myDate.getDate();
            let date = myDate.getFullYear() + '-' + monthW2d + '-' + dayW2d;
            let fullDTStart = date + ' ' + hStart;
            let fullDTEnd = date + ' ' + hEnd;
            //console.log(fullDTStart);
            $("#form_scheduledTo").val(fullDTStart);
            $("#when_datetime").html(fullDTStart);
            $("#hour_to").html(fullDTEnd);
            $("#btn-next").removeAttr('disabled');
        });

        var myDate = $("#calendar").datepicker("getDate");
        var monthW2d = (myDate.getMonth() + 1) > 9 ? (myDate.getMonth() + 1) : "0" + (myDate.getMonth() + 1);
        var dayW2d = myDate.getDate() > 9 ? myDate.getDate() : "0" + myDate.getDate();
        var profId = $("#firstProf").val();
        var profName = $("#firstName").val();
        data = {
            p_id: profId,
            s_id: sidStr,
            date: myDate.getFullYear() + '-' + monthW2d + '-' + dayW2d,
        };
        //console.log("data: ", data);
        if (data.p_id && data.s_id) {
            getListHours(data);
        }
        $("#form_scheduledTo").val('');
        $("#when_datetime").html('');
        $("#form_professional").val(profId);
        $("#profName").html(profName);
        var profAddress = $("#profAddress").val();
        var profOrgId = $("#profOrgId").val();
        $("#serv-address").html(profAddress);
        $("#form_organization").val(profOrgId);
        $(".btn-update-hours").on('click', function(){
            //console.log("Actualizar: ", data);
            if (data.p_id && data.s_id) {
                getListHours(data);
            }
        });
        setInterval(() => {
            //console.log("Actualizar: ", data);
            if (data.p_id && data.s_id) {
                getListHours(data);
            }
        }, 60000);
        $("#sForm").validate({
            rules: {
                'form[firstName]': { required: true },
                'form[lastName]': { required: true },
                'form[email]': { required: true},
                'form[phone]': { required: true},
                'form[message]': { required: false}
            },
            messages: {
                'form[firstName]': { required: "Campo requerido"},
                'form[lastName]': { required: "Campo requerido"},
                'form[email]': { required: "Campo requerido", 'form[email]': "Formato:  nombrecorreo@dominio.abc" },
                'form[phone]': { required: "Campo requerido", 'form[phone]': "Formato:  nombrecorreo@dominio.abc" }
            },
            submitHandler: function (form) {
                        var saveButton = document.getElementById("button-save");
                        var validateForm = document.getElementById("sForm");
                        var elements = validateForm.elements;
                        let dhRes = '';
                        for (var i = 0, len = elements.length; i < len; ++i) {
                            if (elements[i]['id'] === 'form_scheduledTo') {
                                dhRes = elements[i]['value'];
                            }
                        }
                        //console.log("data: ", data);
                        if (data.p_id && data.s_id) {
                            getListHours(data).then((resultData) => {
                                let flagAvail = false;
                                for (let [k,v] of Object.entries(resultData)) {
                                    if (v.start === dhRes.substring(11)) {
                                        flagAvail = true;
                                    }
                                }
                                if (!flagAvail) {
                                    swal("Hora de reserva no disponible", "La hora que está intentando reservar ya no está disponible. Por favor regrese a la lista de horas de reserva y elija una hora distinta.", "info");
                                }else{
                                    document.getElementById("sForm").submit();
                                }
                            })
                        }
                    }
        });
    });
</script>
{% endblock %}