<div class="card-header">
    <h5>Listado</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-hover dataTable">
            <thead>
                <tr>
                    <th>Contenido del artículo</th>
                    <th>Activo</th>
                    <th>Herramientas</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.articleContent }}</td>
                        <td>

                            <div class="form-group">
                                <div class="switch switch-success d-inline m-r-10">
                                    <input type="checkbox" id="switch-{{ item.requirementItemId }}" {% if item.isActive == '1' %}checked{% endif %} onchange="activeChange({{ item.requirementItemId }})" >
                                    <label for="switch-{{ item.requirementItemId }}" class="cr"></label> 
                                </div>
                            </div>

                        </td>
                        <td>

                            <a class="btn btn-icon btn-rounded theme-bg2 text-white" href="{{ path('backend_requirement_item_edit', {'id': item.requirementItemId|md5}) }}" title="Editar" data-toggle="tooltip">
                                <i class="feather icon-edit-1"></i>
                            </a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



