<div class="row">
    {% for item in service %}
    <div class="col-xl-12 col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        <img class="img-fluid" src="{{asset('images/dashborad-4.jpg')}}" alt="dashboard-user"
                            style="max-width: 70px;">
                    </div>
                    <div class="col">
                        <h6 class="mb-2">{{ item.description }}</h6>
                        <h6 class="m-b-0">Bs. {{ item.price |number_format(2, ',', '.') }}</h6>
                        <p>{{ item.duration }} minutos</p>
                        <div style="display: none;" class="service-ids" data-sid="{{item.menuId}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-lg-4 col-md-12 col-xs-12">
        <div class="card" style="max-height:500px; overflow-y:scroll;">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Profesional</h5>
                <hr>
                {% for key,item in prof %}

                {%if key == 0 %}
                    <input type="text" id="firstProf" style="display: none;" value="{{item.id}}">
                {% endif %}
                <a href="javascript:;" data-href="{{ path('backend_logout') }}" data-id="{{item.id}}" class="prof-list"
                    data-order="{{key}}">
                    {%if key == 0 %}
                        <div class="row align-items-center justify-content-center prof-item" style="border-radius:8px; background-color: #04a9f5; color:#fff">
                    {% else %}
                        <div class="row align-items-center justify-content-center prof-item">
                    {% endif %}
                        <div class="col-auto">
                            <img class="img-fluid rounded-circle" style="width:80px;"
                                src="{{asset('images/avatar-2.jpg')}}" alt="dashboard-user">
                        </div>
                        <div class="col">
                            {% if key == 0 %}
                                <h5 class="prof-title" style="color:#fff">{{ item.firstName }}&nbsp;{{ item.lastName }}</h5>
                            {% else %}
                                <h5 class="prof-title">{{ item.firstName }}&nbsp;{{ item.lastName }}</h5>
                            {% endif %}

                            <span><i class="fas fa-map-marker-alt f-18 m-r-5"></i> Berlin, Germany</span>
                        </div>
                    </div>
                    <hr>
                </a>
                {% endfor%}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Día de Reserva</h5>
                <div class="d-flex justify-content-center">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="card" style="max-height:500px; overflow-y:scroll;">
            <div class="card-body text-center">
                <h5 class="card-title" hourSelected()>Hora de Reserva</h5>
                <div id="hour-reserve">
                    <div id="morning-title"></div>
                    <div id="morning-hour"></div>
                    <br>
                    <div id="afternoon-title"></div>
                    <div id="afternoon-hour"></div>
                    <br>
                    <div id="evening-title"></div>
                    <div id="evening-hour"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" style="text-align:right;">
        <button type="button" class="btn btn-primary" title="" data-toggle="modal" data-target="#exampleModalLive"
                    data-original-title="btn btn-primary">Siguiente</button>
    </div>
</div>