
<form method="post" action="{{path('backend_reservation_create')}}" id="sForm" class="" autocomplete="false" novalidate>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.firstName, "Nombre") }}
                            {{form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.lastName, "Apellido") }}
                            {{form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.email, "Email") }}
                            {{form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.phone, "Telefono - 04--5555555") }}
                            {{form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.message, "Comentario") }}
                            {{form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 p-t-15">
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.services, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.professional, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.scheduledTo, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{form_widget(form.organization, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <div class="row">
                        <div class="card" style="background-color:#e0ffff; border-radius: 6px; width: 100%;">
                            <div class="card-header">
                                <h5>Resumen</h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-8">
                                    {% for item in service %}
                                        <span class="d-block text-muted">{{item.menuName}}</span>
                                    {% endfor %}
                                    </div>
                                    <div class="col-4 text-right">
                                     {% for item in service %}
                                        <span class="d-block">{{ item.price }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <p class="d-block text-muted"> <b>Total</b> </p>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h3 class="f-w-300">${{ totales.totalPrice }}</h3>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-5">
                                        <h6 class=" text-muted f-w-300 m-b-0">Profesional</h6>
                                    </div>
                                    <div class="col-7 text-right">
                                        <h6 class="text-muted" id="profName"></h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0">Cuando</h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted" id="when_datetime">30 de mayo, 16:45 PM</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0">Duración</h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted">{{ totales.totalDuration }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0">Hasta</h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted" id="hour_to"></h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <h6 class=" text-muted f-w-300 m-b-0">Donde</h6>
                                    </div>
                                    <div class="col-8 text-right">
                                        <h6 class="text-muted" id="serv-address"></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-6">
            <button type="reset" data-dismiss="modal" class="btn btn-rounded btn-danger">Cancelar</button>
        </div>
        <div class="col-md-6 col-6">
            <button id="button-save" type="submit" class="btn btn-rounded btn-success float-right">Guardar</button>
        </div>
    </div>
    {{ form_widget(form._token) }}
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $("#sForm").validate({
        rules: {
            'form[firstName]': { required: true },
            'form[lastName]': { required: true },
            'form[email]': { required: true},
            'form[phone]': { required: true},
            'form[message]': { required: false}
        },
        messages: {
            'form[firstName]': { required: "Campo requerido"},
            'form[lastName]': { required: "Campo requerido"},
            'form[email]': { required: "Campo requerido", 'form[email]': "Formato:  nombrecorreo@dominio.abc" },
            'form[phone]': { required: "Campo requerido", 'form[phone]': "Formato:  nombrecorreo@dominio.abc" }
        }
    });
</script>
